<div id="<%= dom_id summary %>">
  <p>
    <strong>Article:</strong>
    <%= summary.article_id %>
  </p>

  <p>
    <strong>Goseart:</strong>
    <%= summary.goseart_id %>
  </p>

  <p>
    <strong>Bing article:</strong>
    <%= summary.bing_article_id %>
  </p>

  <p>
    <strong>Summary text:</strong>
    <%= summary.summary_text %>
  </p>

</div>
