<p style="color: green"><%= notice %></p>
    <div class="container-fluid py-4">
       <%= form_tag articles_path, method: :get, class: "sort-form" do %>
         <label for="sort_by">Sort by:</label>
          <%= select_tag :sort_by, options_for_select([['Title', 'title'], ['Created at', 'created_at']]), {prompt: "Select an option"} %>
          <%= submit_tag "Sort", class: "btn btn-primary" %>
       <% end %>
      <div class='row '>
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">All Google Alerts</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr >
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ">Title</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Related to</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Link</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">NEWSWORTHY</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                  <%@articles.each do |article| %>
                     <%= render article%>
                  <%end%>   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
