<p style="color: green"><%= notice %></p>

  <table>
  <tr>
    <th>Word</th>
    <th>Count</th>
  </tr>
  <%=@array%>
   <% if @related_keywords %>
        <% @related_keywords.each do |keyword, count|%>
            <% if  count > 0%>
      <tr>
                <td><%= keyword %></td>
                <td><%= count %></td>
        </tr>
              <% end %>
        <%end%>
      <%end%>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
