 <tr>
 <td class= " " >
                        <div class="d-flex px-2 py-1 re ">

                          <div class="d-flex flex-column justify-content-center w-50   my-text ">
                            <%= link_to  goseart.title, goseart %></p>
                     
                          </div>
                          <div>  <%= link_to "segoseart", goseart.url_link, target: "_blank", class:"btn "  %></div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0"><%= goseart.key_word.key_word%></p>
                        <p>Main keyword:<%= goseart.score%></p>
                        <p>Related Keywords:<%= goseart.score_second%></p>
                
                      </td>
                      <td class="align-middle text-center text-sm" data-controller="copy" >
                          <span ><%=link_to '',goseart.url_link, data: { copy_target:"ref" }  %></span>
                          <span  style="font-size: 0; line-height: 0; height: 1px; width: 1px;" id="text-to-copy<%=goseart.id%>" ><%goseart.url_link %></span>
                          <button class="badge badge-sm btn bg-gradient-primary"  data-action="click->copy#copy">Copy</button>
                      </td>
                      <td class="align-middle text-center" >
                        <span class="text-secondary text-xs font-weight-bold"></span>
                      </td>
                  
                      <td class="align-middle" hidden>
                      </td>

        <td class="category-label-parent">
 </td>
 </tr>