<div id="<%= dom_id bing_article %>">
  <p>
    <strong>Key word:</strong>
    <%= bing_article.key_word_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= bing_article.title %>
  </p>

  <p>
    <strong>Category label:</strong>
    <%= bing_article.category_label %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= bing_article.score %>
  </p>

  <p>
    <strong>Score second:</strong>
    <%= bing_article.score_second %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= bing_article.published %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= bing_article.link %>
  </p>

</div>
