<%= form_with(model: factiva_article, data: { switch_target: "submit" }) do |form| %>
  <% if factiva_article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(factiva_article.errors.count, "error") %> prohibited this factiva_article from being saved:</h2>

      <ul>
        <% factiva_article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



      <div>
    <%= form.label :posted, class:'switch' do %>
           <label class="switch">
               <%= form.check_box :posted, data: { switch_target: "input" }  %>
              <span class="slider round"></span> 
          </label>
      <%end%>
  
  </div>

  <div>
    <% form.submit 'Submit', class:'btn btn-alert',data: { switch_target: "submit" }  %>
  </div>
<% end %>
