<div id="<%= dom_id articleintern %>">
  <p>
    <strong>Title:</strong>
    <%= articleintern.title %>
  </p>

  <p>
    <strong>Category label:</strong>
    <%= articleintern.category_label %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= articleintern.score %>
  </p>

  <p>
    <strong>Score second:</strong>
    <%= articleintern.score_second %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= articleintern.published %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= articleintern.link %>
  </p>

</div>
