<div id="<%= dom_id post %>">
  <p>
    <strong>Key word:</strong>
    <%= post.key_word_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= post.published %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= post.link %>
  </p>

  <p>
    <strong>Category label:</strong>
    <%= post.category_label %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= post.score %>
  </p>

  <p>
    <strong>Score second:</strong>
    <%= post.score_second %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= post.source %>
  </p>

</div>
